<h1 class="mb-8 text-3xl text-center">Weather App</h1>

<div data-controller="weather">
	<div class="mx-auto bg-slate-50 p-4">
		<h4 class="mb-4">Input the location you want to see the weather for:</h4>

		<%= form_tag('/data', id: 'location_form', data: { action: "google-maps-callback@window->weather#initAutocomplete",
																											 'weather-target': 'form' }) do %>
			<%= text_field_tag "location", nil, 
				type: "text", 
				placeholder: "Search a location", 
				data: { action: "keydown->weather#manualTyping", "weather-target": "address" } 
			%>

			<input name="latitude" type="hidden" data-weather-target="latitude" />
			<input name="longitude" type="hidden" data-weather-target="longitude" />
	 	<% end %>
	</div>

	<%= render partial: 'weather_information/weather', locals: { weather: @weather_info, location: nil } %>
</div>

<script type="text/javascript">
	window.initAutocomplete = function () {
	  const event = new Event('google-maps-callback', {
	    bubbles: true,
	    cancelable: true,
	  })
	}
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_api_key}&libraries=places&callback=initAutocomplete" %>
